<h1 mat-dialog-title>Aggiungi prodotti da escludere</h1>
<div class="container" (click)="stopPropagation($event)">

  <!-- BOX SELEZIONE -->
  <div class="mapping-box">

    <!-- GESTIONALE -->
    <div class="field">
      <label>Nome prodotto</label>

      <input
        type="text"
        [(ngModel)]="productName"
        placeholder="Inserisci il nome del prodotto..."
      />
    </div>

    <!-- MAGENTO -->
    <div class="field">
      <label>Aic</label>

      <input
        type="text"
        [(ngModel)]="aic"
        placeholder="Inserisci codice aic/sku..."
      />
    </div>

    <button mat-button class="btn" (click)="addMapping()">
      + Aggiungi
    </button>

  </div>

  <!-- LISTA -->
  <div class="list-box" *ngIf="mappings.length">

    <h3>Prodotti creati</h3>
    <div class="mapping-row">
      <div class="tag no-padding">Nome prodotto</div>
      <div class="arrow-small"></div>
      <div class="tag no-padding">Aic</div>
    </div>

    <div *ngFor="let m of mappings; let i = index" class="mapping-row">

      <div class="tag gestionale">
        {{ m.productName }}
      </div>

      <div class="arrow-small"></div>

      <div class="tag magento">
        {{ m.aic }}
      </div>

      <button class="delete-btn" (click)="removeMapping(i)">✕</button>

    </div>

  </div>

  <button mat-button class="btn save" (click)="save()">
    Salva tutto
  </button>

</div>