<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup] = "categoryForm">
  <mat-card class="trinta-card mb-10 bg-white border-none d-block">
    <mat-card-content>
      <div class="row g-3"> 
        <div class="col-sm-12">
          <label class="label d-block fw-medium mb-10">Seleziona un cliente</label>
          <mat-form-field class="w-100">
            <i-feather name="command"></i-feather>
            <mat-label>Seleziona un cliente</mat-label>
            <mat-select formControlName="customerId">
              <mat-option *ngFor="let item of customers" [value]="item.customer.id">
                {{ item.customer.name }}
              </mat-option>            
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <label class="label d-block fw-medium mb-10">Seleziona una tipologia</label>
          <mat-form-field class="w-100">
            <i-feather name="command"></i-feather>
            <mat-label>Seleziona una tipologia</mat-label>
            <mat-select formControlName="type">
              <mat-option value="0">Tutte le operazioni</mat-option>
              <mat-option value="1">Inserimento prodotti</mat-option>
              <mat-option value="2">Aggiornamento prezzi</mat-option>
              <mat-option value="3">Aggiunta immagini</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
<mat-dialog-actions>
  <button mat-button (click)="onClose()" class="btn back">Chiudi</button>
  <button mat-flat-button (click)="onSave()" class="btn" [disabled]="categoryForm.invalid">Avvia</button>
</mat-dialog-actions>
