h1{
    margin-bottom: 10px;
}

.container {
    width: 100%;
    margin: 0;
    padding: 15px 2%;
    background: #fff;
}

.title {
  margin-bottom: 20px;
  font-weight: 600;
}

/* BOX */
.mapping-box {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  background: #faf9fd;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #f9f9fa;
  margin-bottom: 20px;
  width: 100%;
}

/* FIELD */
.field {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 13px;
  margin-bottom: 6px;
  color: #555;
}

/* INPUT */
input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: all 0.2s;
  font-size: 14px;
}

input:focus {
  border-color: #4f46e5;
  outline: none;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.1);
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  top: 60px;
  width: 100%;
  max-height: 120px;
  overflow: auto;
  background: white;
  border-radius: 8px;
  border: 1px solid #eee;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  z-index: 100;
  padding: 0
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 8px 15px
}

.dropdown li:hover {
  background: #f5f5ff;
}

/* FRECCE */
.arrow {
  font-size: 22px;
  padding-bottom: 8px;
  color: #888;
}

.arrow-small {
  margin: 0 8px;
  color: #aaa;
}

/* BUTTON ADD */
.add-btn {
  height: 40px;
  padding: 0 16px;
  border-radius: 8px;
  border: none;
  background: #4f46e5;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn:hover {
  background: #4338ca;
}

/* LIST */
.list-box {
   background: #faf9fd;
  border: 1px solid #f9f9fa;
  border-radius: 12px;
  padding: 15px;
}

.mapping-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* TAG */
.tag {
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
}

.gestionale {
  background: #e0f2fe;
  color: #0369a1;
}

.magento {
  background: #ede9fe;
  color: #5b21b6;
}

/* DELETE */
.delete-btn {
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #999;
}

.delete-btn:hover {
  color: #e11d48;
}


.btn {
  margin-bottom: 4px;
}

.save{
    margin: 10px!important;
    float: right;
}

h3{
    font-size: 16px;
    font-weight: 400;
}