<nav aria-label="breadcrumb" class="position-relative">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item active">Batch giornalieri</li>
    </ol>
</nav>
<mat-card
    class="trinta-card to-do-list-card mb-25 bg-white border-none d-block"
>
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Cliente
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini3" data-label="Nome">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.customer.name}}<br>
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="sequenceNumber">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini4">
                            N°
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini4" data-label="N°">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.sequenceNumber}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="currentStep">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Step corrente
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Step corrente">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.status == 2 ? "Nessun step in corso" : getName(element.currentStep)}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="stepStatus">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini2">
                            Stato
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini2" data-label="Stato">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.status == 2 ? "Terminato" : getStatus(element.stepStatus)}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="heronImport.progress">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Heron
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini3" data-label="Heron">
                             <div class="progress-container">
                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.heronImport.progress"
                                    [color]="getColor(element.heronImport.progress)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.heronImport.progress}}%
                                     <span class="restart" (click)="restart('HeronImport', element)" *ngIf="element.status != 2">- Avvia/Riavvia step</span>
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="farmadati.progress">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Farmadati
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini3" data-label="Farmadati">
                             <div class="progress-container">
                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.farmadati.progress"
                                    [color]="getColor(element.farmadati.progress)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.farmadati.progress}}%
                                     <span class="restart" *ngIf="element.status != 2"
                                        [class.disabled]="element.heronImport.progress < 100"
                                        (click)="element.heronImport.progress === 100 && restart('Farmadati', element)">
                                        - Avvia/Riavvia step
                                    </span>
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="suppliers.progress">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Fornitori
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini3" data-label="Fornitori">
                             <div class="progress-container">
                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.suppliers.progress"
                                    [color]="getColor(element.suppliers.progress)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.suppliers.progress}}%
                                     <span class="restart" *ngIf="element.status != 2"
                                        [class.disabled]="element.farmadati.progress < 100"
                                        (click)="element.farmadati.progress === 100 && restart('Suppliers', element)">
                                        - Avvia/Riavvia step
                                    </span>
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="magento.progress">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Magento
                        </th>

                        <td mat-cell *matCellDef="let element" class="pl-0 mini3 position-relative" data-label="Magento">
                            <span class="spn-delete">
                                <button (click)="deleteBatch(element)" 
                                    class="btn delete" 
                                    matTooltip="elimina batch" 
                                    matTooltipPosition="above">
                                    <i class="ri-close-large-line"></i>
                                </button>
                            </span>

                            <!-- STEP 1 -->
                            <div class="progress-container">
                                <div class="progress-label">1. Aggiunta prodotti</div>

                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.magento.progressInsert"
                                    [color]="getColor(element.magento.progressInsert)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.magento.progressInsert}}%
                                    <span class="restart" *ngIf="element.status != 2"
                                        [class.disabled]="element.suppliers.progress < 100"
                                        (click)="element.suppliers.progress === 100 && restartMagento('Magento-insert', element)">
                                        - Avvia/Riavvia step
                                      </span>
                                </span>
                            </div>

                            <!-- STEP 2 -->
                            <div class="progress-container"
                                [class.disabled]="element.magento.progressInsert < 100">

                                <div class="progress-label">2. Aggiornamento prezzi</div>

                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.magento.progressUpdatePrice"
                                    [color]="getColor(element.magento.progressUpdatePrice)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.magento.progressUpdatePrice}}%
                                    <span class="restart" *ngIf="element.status != 2"
                                        (click)="restartMagento('Magento-update-price', element)">
                                        - Avvia/Riavvia step
                                    </span>
                                </span>
                            </div>

                            <!-- STEP 3 -->
                            <div class="progress-container"
                                [class.disabled]="element.magento.progressUpdatePrice < 100">

                                <div class="progress-label">3. Upload immagini</div>

                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.magento.progressInsertImages"
                                    [color]="getColor(element.magento.progressInsertImages)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.magento.progressInsertImages}}%
                                    <span class="restart" *ngIf="element.status != 2"
                                        (click)="restartMagento('Magento-insert-images', element)">
                                        - Avvia/Riavvia step
                                    </span>
                                </span>
                                   
                           </div>

                            <!-- STEP 3 -->
                            <div class="progress-container" *ngIf="element.status != 2"
                                [class.disabled]="element.magento.progressInsert < 100 && element.magento.progressUpdatePrice < 100 && element.magento.progressInsertImages < 100">

                                <span class="progress-text">
                                    <span class="update-force"
                                        (click)="restartMagento('update-force', element)">
                                        Termina e aggiorna
                                    </span>
                                </span>
                                   
                           </div>

                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center no-data" [attr.colspan]="displayedColumns.length">
                            Nessun batch presente
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>