<nav aria-label="breadcrumb" class="position-relative">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item active">Batch giornalieri in corso</li>
    </ol>
    <button class="btn-download btn btn-primary" (click)="start()"><i class="ri-add-line"></i> Avvia batch</button>
</nav>
<mat-card
    class="trinta-card to-do-list-card mb-25 bg-white border-none d-block"
>
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Cliente
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini3" data-label="Nome">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.customer.name}}<br>
                                </h6>
                                <h4>Durata import: {{getDurata(element)}} {{ticker && ''}}</h4>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="currentStep">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Step corrente
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Step corrente">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.status == 2 ? "Nessun step in corso" : getName(element.currentStep)}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="stepStatus">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini2">
                            Stato
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini2" data-label="Stato">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.status == 2 ? "Terminato" : getStatus(element.stepStatus)}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="heronImport.progress">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Heron
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini3" data-label="Heron">
                             <div class="progress-container">
                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.heronImport.progress"
                                    [color]="getColor(element.heronImport.progress)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.heronImport.progress}}%
                                     <span class="restart" (click)="restart('HeronImport', element)" *ngIf="element.status != 2">- Avvia/Riavvia step</span>
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="farmadati.progress">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Farmadati
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini3" data-label="Farmadati">
                             <div class="progress-container">
                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.farmadati.progress"
                                    [color]="getColor(element.farmadati.progress)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.farmadati.progress}}%
                                     <span class="restart" *ngIf="element.status != 2"
                                        [class.disabled]="element.heronImport.progress < 100"
                                        (click)="element.heronImport.progress === 100 && restart('Farmadati', element)">
                                        - Avvia/Riavvia step
                                    </span>
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="suppliers.progress">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Fornitori
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini3" data-label="Fornitori">
                             <div class="progress-container">
                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.suppliers.progress"
                                    [color]="getColor(element.suppliers.progress)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.suppliers.progress}}%
                                     <span class="restart" *ngIf="element.status != 2"
                                        [class.disabled]="element.farmadati.progress < 100"
                                        (click)="element.farmadati.progress === 100 && restart('Suppliers', element)">
                                        - Avvia/Riavvia step
                                    </span>
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="magento.progress">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Magento
                        </th>

                        <td mat-cell *matCellDef="let element" class="pl-0 mini3 position-relative" data-label="Magento">
                            <span class="spn-delete">
                                <button (click)="deleteBatch(element)" 
                                    class="btn delete" 
                                    matTooltip="elimina batch" 
                                    matTooltipPosition="above">
                                    <i class="ri-close-large-line"></i>
                                </button>
                            </span>

                            <!-- STEP 1 -->
                            <div class="progress-container">
                                <div class="progress-label">Download prodotti</div>

                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.magento.progressDownload"
                                    [color]="getColor(element.magento.progressDownload)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.magento.progressDownload}}%
                                    <span class="restart" *ngIf="element.status != 2 && element.type == 0"
                                        [class.disabled]="element.suppliers.progress < 100"
                                        (click)="element.suppliers.progress === 100 && restartMagento('Magento-insert', element)">
                                        - Avvia/Riavvia step
                                      </span>
                                </span>
                            </div>

                            <!-- STEP 2 -->
                            <div class="progress-container" *ngIf="element.type < 2"
                                [class.disabled]="element.magento.progressDownload < 100">
                                <div class="progress-label">Aggiunta prodotti</div>

                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.magento.progressInsert"
                                    [color]="getColor(element.magento.progressInsert)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.magento.progressInsert}}%
                                    <span class="restart" *ngIf="element.status != 2 && element.type == 0"
                                        (click)="element.suppliers.progress === 100 && restartMagento('Magento-insert', element)">
                                        - Avvia/Riavvia step
                                      </span>
                                </span>
                            </div>

                            <!-- STEP 3 -->
                            <div class="progress-container" *ngIf="element.type < 3 && element.type != 1"
                                [class.disabled]="element.magento.progressInsert < 100 && element.type == 0">

                                <div class="progress-label">Aggiornamento prezzi</div>

                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.magento.progressUpdatePrice"
                                    [color]="getColor(element.magento.progressUpdatePrice)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.magento.progressUpdatePrice}}%
                                    <span class="restart" *ngIf="element.status != 2 && element.type == 0"
                                        (click)="restartMagento('Magento-update-price', element)">
                                        - Avvia/Riavvia step
                                    </span>
                                </span>
                            </div>

                            <!-- STEP 4 -->
                            <div class="progress-container" *ngIf="element.type == 3"
                                [class.disabled]="element.magento.progressInsertImages < 100 && element.type == 0">

                                <div class="progress-label">Inserimento immagini</div>

                                <mat-progress-bar
                                    mode="determinate"
                                    [value]="element.magento.progressInsertImages"
                                    [color]="getColor(element.magento.progressInsertImages)">
                                </mat-progress-bar>

                                <span class="progress-text">
                                    {{element.magento.progressInsertImages}}%
                                </span>
                            </div>

                            <!-- STEP 5 -->
                            <div class="progress-container" *ngIf="element.status != 2">

                                <span class="progress-text position-relative">
                                    <span class="hr"></span>
                                    <span class="update-force"
                                        (click)="restartMagento('update-force', element)">
                                        Termina e aggiorna
                                    </span>
                                    <span class="load" 
                                        *ngIf="(element.magento.progressInsert == 100 && element.type < 2) 
                                        || (element.magento.progressUpdatePrice == 100 && element.type < 3 && element.type != 1)
                                        || (element.magento.progressImages == 100 && element.type == 3)
                                        || earlyClosing
                                        ">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </span>
                                </span>
                                   
                           </div>

                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center no-data" [attr.colspan]="displayedColumns.length">
                            Nessun batch presente
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="progress">
            <mat-progress-bar *ngIf="firstLoading" mode="indeterminate"></mat-progress-bar>
        </div>
    </mat-card-content>
</mat-card>

<nav aria-label="breadcrumb" class="position-relative">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item active">Batch giornalieri chiusi</li>
    </ol>
</nav>
<mat-card class="trinta-card to-do-list-card mb-25 bg-white border-none d-block">
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSourceT">

                    <!-- Name Column -->
                    <ng-container matColumnDef="Customer">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini">
                            Cliente 
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini" data-label="Cliente">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{ element.batch.customer.name }}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="StartedAt">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini">
                            Data inizio
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini" data-label="Data">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{ element.batch.startedAt | date:'dd/MM/yyyy HH:mm' }}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="currentStep">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Step 
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini3" data-label="Step">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{ element.batch.currentStep }}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="stepStatus">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini3">
                            Completato 
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini3" data-label="Stato">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{ element.batch.stepStatus < 2 ? 'Non completato' : 'completato' }}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="magento">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Importazione su magento 
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Magento">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0 lh-20">
                                    Totale : {{ !element.report ? 0 : element.report?.totalProducts }}<br>

                                    <span *ngIf="element.batch.type == 0 || element.batch.type == 1">
                                      Importati/aggiornati : {{ !element.report ? 0 : element.report?.insert }}<br>
                                    </span>
                                    <span *ngIf="element.batch.type == 0 || element.batch.type == 2">
                                        Aggiornamento prezzi : {{ !element.report ? 0 : element.report?.updatePrice }}<br>
                                    </span>
                                    <span *ngIf="element.batch.type == 3">
                                        Inserimento immagini : {{ !element.report ? 0 : element.report?.insertImages }}<br>
                                    </span>
                                    Errori : {{ !element.report ? 0 : element.report?.errors }}<br>
                                    <span *ngIf="element.batch.type != 3">
                                        Stato importazione : {{ (!element.report ? 0 : element.report.insert / element.report.totalProducts * 100).toFixed(2) }} %<br>
                                    </span>
                                    <span *ngIf="element.batch.type == 3">
                                        Stato importazione : {{ (!element.report ? 0 : element.report.insertImages / element.report.totalProducts * 100).toFixed(2) }} %<br>
                                    </span>
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="text-center pr-0 mini3">
                            Azioni
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center pr-0 mini3" data-label="Azioni">
                            <div class="action">
                                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" matTooltip="elimina" matTooltipPosition="above" (click)="DeleteItem(element)">
                                    <i class="{{element.action.delete}}"></i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsT"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsT;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center no-data" [attr.colspan]="displayedColumnsT.length">
                            Nessun batch ancora chiuso oggi
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>