<nav aria-label="breadcrumb" class="position-relative">
    <ol class="breadcrumb">
        <li aria-current="page" class="breadcrumb-item active">Aggiornamento farmadati</li>
    </ol>
    <button class="btn-download btn btn-primary" (click)="start()"><i class="ri-add-line"></i> Avvia aggiornamento</button>
</nav>
<mat-card
    class="trinta-card to-do-list-card mb-25 bg-white border-none d-block"
>
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="customerId">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini">
                            Cliente
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini" data-label="Cliente">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                    {{element.customer!.name}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="startedAt">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini">
                            Data inizio
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini" data-label="Data inizio">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                   {{ element.farmadatiUpdate!.startedAt | date:'dd/MM/yyyy HH:mm' }}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="progress">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Avanzamento completamento
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0" data-label="Avanzamento">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                   <mat-progress-bar mode="determinate" [value]="getProgressBarValue(element)"></mat-progress-bar>
                                   <span class="progress-text">
                                    {{getProgressBarValue(element)}}%
                                   </span>
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="endedAt">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 mini2">
                            Data fine
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 mini2" data-label="Data fine">
                            <div class="position-relative">
                                <h6 class="mt-0 mb-0">
                                   {{ element.farmadatiUpdate!.endedAt == null ? '' : element.farmadatiUpdate!.endedAt | date:'dd/MM/yyyy HH:mm'}}
                                </h6>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="text-center pr-0">
                            Azioni
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center pr-0" data-label="Azioni">
                            <div class="action">
                                <button type="button" mat-button class="p-0 min-w-auto lh-1 h-auto" matTooltip="elimina" matTooltipPosition="above" (click)="DeleteItem(element)">
                                    <i class="{{element.action.delete}}"></i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center no-data" [attr.colspan]="displayedColumns.length">
                            Nessun aggiornamento avviato
                        </td>
                    </tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[20, 50, 100]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>